language: rust
# 14.04 needed to install llvm-4.0
dist: trusty

# Fast, container-based builds
sudo: false

rust:
  - stable
  - nightly-2017-05-09

cache: cargo

addons:
  apt:
    sources:
    - llvm-toolchain-trusty-4.0
    packages:
    - llvm-4.0
    - llvm-4.0-tools

before_script:
  - mkdir -p .local/bin
  - ln -s /usr/bin/llvm-config-4.0 .local/bin/llvm-config
  - export PATH=$PWD/.local/bin/:$PATH
  - which rustfmt || cargo install rustfmt
  - bash lint.sh

script:
  - cargo test --features file-tests
